:root {
  --food-color: rgb(235, 200, 4);
  --path-cell-color: rgb(65, 65, 7);
  --main-grid-background-color: rgb(218, 198, 198);
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 90vh;
  background-color: green;
  font-family: "Turret Road", sans-serif;
  font-family: "Syne Mono", monospace;
  font-family: "Syncopate", sans-serif;
}

header {
  background-color: rgb(225, 67, 10);
}

#score {
  display: flex;
  font-size: 20px;
  margin-left: 200px;
  margin-bottom: 20px;
  align-items: baseline;
  /* font-family: "Turret Road", sans-serif; */
}

#scoreValue {
  font-size: larger;
  font-weight: bolder;
  margin-left: 5px;
  align-self: flex-end;
  /* margin-bottom: 5px; */
  font-family: "Syne Mono", monospace;
  font-family: "Turret Road", sans-serif;
}

#mainGridContainer {
  height: 500px;
  width: 500px;
  margin-left: 20px;
  background-color: var(--main-grid-background-color);
  display: flex;
  flex-direction: column;
  border-radius: 5%;
}

.rows {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.cells {
  height: 100%;
  width: 100%;
  border: solid transparent 1px;
}

.pathCell {
  background-color: var(--path-cell-color);
  border: solid transparent 1px;
}

#btnsContainer {
  width: 500px;
  display: flex;
  justify-content: space-around;
  margin: 10px 0;
}
#bigGhostsDisplay {
  display: flex;
}
button {
  padding: 10px 15px;
  font-weight: bolder;
  font-family: "Turret Road", sans-serif;
  font-family: "Syncopate", sans-serif;
}

.food {
  position: relative;
}

.food::before {
  position: absolute;
  content: "";
  right: 25%;
  bottom: 25%;
  height: 50%;
  width: 50%;
  background: radial-gradient(var(--food-color) 0%, transparent 50%);
}

.pacman {
  border-radius: 50%;

  height: 100%;
  width: 100%;

  background:
    conic-gradient(
      yellow 45deg,
      var(--path-cell-color) 45deg,
      var(--path-cell-color) 135deg,
      yellow 135deg
    ),
    var(--path-cell-color);
  animation: pacman-right 0.35s linear infinite;
}

@keyframes pacman-right {
  from {
    background-image: conic-gradient(
      yellow 45deg,
      var(--path-cell-color) 45deg,
      var(--path-cell-color) 135deg,
      yellow 135deg
    );
  }
  to {
    background-image: conic-gradient(
      yellow 45deg,
      yellow 45deg,
      yellow 135deg,
      yellow 135deg
    );
  }
}

@keyframes pacman-left {
  from {
    background-image: conic-gradient(
      yellow 225deg,
      var(--path-cell-color) 225deg,
      var(--path-cell-color) 315deg,
      yellow 315deg
    );
  }
  to {
    background-image: conic-gradient(
      yellow 45deg,
      yellow 45deg,
      yellow 135deg,
      yellow 135deg
    );
  }
}

@keyframes pacman-up {
  from {
    background-image: conic-gradient(
      var(--path-cell-color) 0deg,
      var(--path-cell-color) 45deg,
      yellow 45deg,
      yellow 315deg,
      var(--path-cell-color) 315deg
    );
  }
  to {
    background-image: conic-gradient(
      yellow 45deg,
      yellow 45deg,
      yellow 135deg,
      yellow 135deg
    );
  }
}

@keyframes pacman-down {
  from {
    background-image: conic-gradient(
      yellow 135deg,
      var(--path-cell-color) 135deg,
      var(--path-cell-color) 225deg,
      yellow 225deg
    );
  }
  to {
    background-image: conic-gradient(
      yellow 45deg,
      yellow 45deg,
      yellow 135deg,
      yellow 135deg
    );
  }
}

#ghostSVG {
  display: none;
  fill: blue;
  stroke: black;
  stroke-width: 2;
  animation: ghost 0.35s linear infinite;
}

@keyframes ghost {
}

.pacmanGameOver {
  border-radius: 50%;

  height: 100%;
  width: 100%;

  background-image: conic-gradient(
    yellow 45deg,
    yellow 45deg,
    yellow 135deg,
    yellow 135deg
  );

  animation: pacman-gameOver 2s linear infinite;
}

@keyframes pacman-gameOver {
  0% {
    background-image: conic-gradient(
      yellow 45deg,
      yellow 45deg,
      yellow 135deg,
      yellow 135deg
    );
  }
  25% {
    background-image: conic-gradient(
      yellow 45deg,
      var(--path-cell-color) 45deg,
      var(--path-cell-color) 135deg,
      yellow 135deg
    );
  }
  50% {
    background-image: conic-gradient(
      var(--path-cell-color) 45deg,
      var(--path-cell-color) 45deg,
      var(--path-cell-color) 180deg,
      yellow 180deg
    );
  }

  75% {
    background-image: conic-gradient(
      var(--path-cell-color) 225deg,
      yellow 225deg,
      yellow 315deg,
      var(--path-cell-color) 315deg
    );
  }
  100% {
    background-image: conic-gradient(
      var(--path-cell-color) 45deg,
      var(--path-cell-color) 45deg,
      var(--path-cell-color) 135deg,
      var(--path-cell-color) 135deg
    );
  }
}
