:root {
  --food-color: rgb(235, 200, 4);
  --powerUp-color: rgb(222, 143, 41);
  --path-cell-color: rgba(56, 56, 46, 0.801);
  --main-grid-background-color: rgba(101, 101, 227, 0.278);
  --ghost0-color: rgba(255, 166, 0, 0.503);
  --ghost1-color: rgba(0, 128, 0, 0.5);
  --ghost2-color: rgba(0, 0, 255, 0.501);
  --ghost3-color: rgba(128, 0, 128, 0.514);
  --ghost--hexed: rgba(77, 77, 145, 0.501);
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* min-height: 90vh; */
  height: 80vh;
  background-color: rgb(172, 163, 180);
  font-family: "Turret Road", sans-serif;
  font-family: "Syne Mono", monospace;
  font-family: "Syncopate", sans-serif;
  background-image: url("./images/pacman\ background.png");
  background-size: cover;
}

header {
  background-color: rgb(225, 67, 10);
}
main {
  margin-left: 35vw;
  margin-top: 50vh;
}
#score,
#highScore {
  display: flex;
  font-size: 14px;
  margin-bottom: 15px;
  align-items: flex-start;
  /* font-family: "Turret Road", sans-serif; */
}

#highScore {
  font-size: 15px;
  margin-left: 20px;
}

#scoreValue,
#highScoreValue {
  font-size: larger;
  font-weight: bolder;
  margin-left: 5px;
  align-self: flex-end;
  /* margin-bottom: 5px; */
  font-family: "Syne Mono", monospace;
  font-family: "Turret Road", sans-serif;
}

#scoresContainer {
  color: rgb(11, 12, 12);
  background-color: rgba(240, 248, 255, 0.686);
  border-radius: 15px;
  width: 500px;
  padding-top: 3px;
  padding-left: 3px;
}

#mainGridContainer {
  height: 500px;
  width: 500px;
  /* margin-left: 500px;
  margin-top: 200px; */
  background-color: var(--main-grid-background-color);
  display: flex;
  flex-direction: column;
  border-radius: 5%;
}

.rows {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.cells {
  height: 100%;
  width: 100%;
  border: solid transparent 1px;
}

.pathCell {
  background-color: var(--path-cell-color);
  border: solid transparent 1px;
  border-radius: 2px;
}

#btnsContainer {
  width: 500px;
  display: flex;
  justify-content: space-around;
  margin: 10px 0;
}
#bigGhostsDisplay {
  display: flex;
}
button {
  padding: 10px 15px;
  color: rgb(194, 95, 95);
  text-shadow: 1px 1px 5px rgb(186, 70, 70);
  background-color: aqua;
  font-weight: 800;
  font-family: "Turret Road", sans-serif;
  font-family: "Syncopate", sans-serif;
  margin-top: 25px;
  border-radius: 10px;
  box-shadow: 2px 6px 15px black;
  transition: all 0.5s;
  cursor: pointer;
}
button:hover {
  font-size: large;
  text-shadow: 2px 2px 5px rgb(186, 70, 70);
}

.food {
  position: relative;
}

.food::before {
  position: absolute;
  content: "";
  right: 25%;
  bottom: 25%;
  height: 50%;
  width: 50%;
  background: radial-gradient(var(--food-color) 0%, transparent 50%);
}

.powerUp {
  position: relative;
}

.powerUp::before {
  position: absolute;
  content: "";
  /* right: 50%; */
  /* top: 50%; */
  height: 90%;
  width: 90%;
  background: radial-gradient(var(--powerUp-color) 45%, transparent 60%);
}

.pacman {
  border-radius: 50%;

  height: 100%;
  width: 100%;

  background:
    conic-gradient(
      yellow 45deg,
      var(--path-cell-color) 45deg,
      var(--path-cell-color) 135deg,
      yellow 135deg
    ),
    var(--path-cell-color);
  animation: pacman-right 0.35s linear infinite;
}

@keyframes pacman-right {
  from {
    background-image: conic-gradient(
      yellow 45deg,
      var(--path-cell-color) 45deg,
      var(--path-cell-color) 135deg,
      yellow 135deg
    );
  }
  to {
    background-image: conic-gradient(
      yellow 45deg,
      yellow 45deg,
      yellow 135deg,
      yellow 135deg
    );
  }
}

@keyframes pacman-left {
  from {
    background-image: conic-gradient(
      yellow 225deg,
      var(--path-cell-color) 225deg,
      var(--path-cell-color) 315deg,
      yellow 315deg
    );
  }
  to {
    background-image: conic-gradient(
      yellow 45deg,
      yellow 45deg,
      yellow 135deg,
      yellow 135deg
    );
  }
}

@keyframes pacman-up {
  from {
    background-image: conic-gradient(
      var(--path-cell-color) 0deg,
      var(--path-cell-color) 45deg,
      yellow 45deg,
      yellow 315deg,
      var(--path-cell-color) 315deg
    );
  }
  to {
    background-image: conic-gradient(
      yellow 45deg,
      yellow 45deg,
      yellow 135deg,
      yellow 135deg
    );
  }
}

@keyframes pacman-down {
  from {
    background-image: conic-gradient(
      yellow 135deg,
      var(--path-cell-color) 135deg,
      var(--path-cell-color) 225deg,
      yellow 225deg
    );
  }
  to {
    background-image: conic-gradient(
      yellow 45deg,
      yellow 45deg,
      yellow 135deg,
      yellow 135deg
    );
  }
}

#ghostSVG {
  display: none;
  stroke: black;
  stroke-width: 2;
  animation: ghost 0.35s linear infinite;
}

@keyframes ghost {
}

.pacmanGameOver {
  border-radius: 50%;

  height: 100%;
  width: 100%;

  background-image: conic-gradient(
    yellow 45deg,
    yellow 45deg,
    yellow 135deg,
    yellow 135deg
  );

  animation: pacman-gameOver 2s linear infinite;
}

@keyframes pacman-gameOver {
  0% {
    background-image: conic-gradient(
      yellow 45deg,
      yellow 45deg,
      yellow 135deg,
      yellow 135deg
    );
  }
  25% {
    background-image: conic-gradient(
      yellow 45deg,
      var(--path-cell-color) 45deg,
      var(--path-cell-color) 135deg,
      yellow 135deg
    );
  }
  50% {
    background-image: conic-gradient(
      var(--path-cell-color) 45deg,
      var(--path-cell-color) 45deg,
      var(--path-cell-color) 180deg,
      yellow 180deg
    );
  }

  75% {
    background-image: conic-gradient(
      var(--path-cell-color) 225deg,
      yellow 225deg,
      yellow 315deg,
      var(--path-cell-color) 315deg
    );
  }
  100% {
    background-image: conic-gradient(
      var(--path-cell-color) 45deg,
      var(--path-cell-color) 45deg,
      var(--path-cell-color) 135deg,
      var(--path-cell-color) 135deg
    );
  }
}

.ghosts0 {
  fill: rgba(255, 166, 0, 0.503);
}
.ghosts1 {
  fill: rgba(0, 128, 0, 0.5);
}
.ghosts2 {
  fill: rgba(0, 0, 255, 0.501);
}
.ghosts3 {
  fill: rgba(128, 0, 128, 0.514);
}

.hexedghost {
  fill: var(--ghost--hexed);
}
